<link href="styles/style.css" rel="stylesheet"/> 
<html>
  <head>
    <title>Localizar CEP</title>
  </head>
  <body>
    <div id="app" class="mb-3" style='margin: 10px; width: 200px'>
        <input type="text" class="form-control inputValue" placeholder="Digite o CEP"/>
        <button class="btn btn-primary" style="margin-top: 5px; margin-left: 1px">Consultar</button>
      </form>
      <main class="retornaValor"></main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      ></script>
    <script src="../src/services/cepFinder.js"></script>
  </body>
</html>
